#include "Resource.h"
#include <windows.h>

IDI_APP_ICON    ICON    "../assets/Icon.ico"
IDI_SMALL       ICON    "../assets/Icon.ico"
IDR_MAINFRAME   ICON    "../assets/Icon.ico"

STRINGTABLE
BEGIN
    IDS_APP_TITLE       "MonkeySounds"
    IDC_MONKEYSOUNDS    "MONKEYSOUNDS"
END

IDR_TRAY_MENU MENU
BEGIN
    POPUP "TrayMenu"
    BEGIN
        MENUITEM "Open MonkeySounds",    IDM_TRAY_SHOW
        MENUITEM SEPARATOR
        MENUITEM "Mute Keyboard Sounds", IDM_TRAY_MUTE_KB
        MENUITEM "Mute Mouse Sounds",    IDM_TRAY_MUTE_MOUSE
        MENUITEM SEPARATOR
        MENUITEM "Exit",                 IDM_TRAY_EXIT
    END
END
